.LandingPage
  &-header
    height: 100px
    box-shadow: none
    align-items: center

    .LogoContainer
      height: 32px
      margin-left: 80px
      cursor: pointer

    &-login
      font-family: $font
      font-size: 16px
      margin-left: auto

      a
        display: block
        height: 34px
        line-height: 34px
        color: $color-gray
        padding: 0 20px
        text-decoration: none
        letter-spacing: 0.02em
        transition: color .2s ease

        &:hover, &:focus
          color: $color-light-blue

    &-signup
      font-family: $font
      font-size: 16px
      margin-left: 20px
      margin-right: 80px

      a
        display: block
        height: 36px
        line-height: 36px
        width: 80px
        color: #fff
        padding: 0 20px
        text-decoration: none
        letter-spacing: 0.02em
        text-align: center
        background: $color-light-blue
        box-shadow: 1px 1px 1px rgba(0,0,0,0.2)
        border-radius: 40px
        transition: opacity .2s ease
        outline: none

        &:hover, &:focus
          opacity: .8

  &-content
    width: 40%
    height: calc(100vh - 100px)
    margin-left: 100px
    display: flex
    flex-direction: column
    justify-content: center

    h1
      font-family: $font
      font-size: 5.5em
      color: $color-gray
      letter-spacing: 0.02em

    &-border
      height: 7px
      width: 33%
      background: $color-blue
      border-radius: 7px
      margin-top: 40px
      margin-bottom: 60px

    &-text
      font-family: $font
      font-size: 18px
      color: $color-gray
      letter-spacing: 0.02em
      line-height: 32px

    &-signup
      font-family: $font
      font-size: 16px
      margin-top: 60px
      margin-bottom: 80px

      a
        display: block
        height: 36px
        line-height: 36px
        width: 160px
        color: #fff
        padding: 0 20px
        text-decoration: none
        letter-spacing: 0.02em
        text-align: center
        background: $color-light-blue
        box-shadow: 1px 1px 1px rgba(0,0,0,0.2)
        border-radius: 40px
        transition: opacity .2s ease
        outline: none

        &:hover, &:focus
          opacity: .8