// VARS

$font = 'helvetica neue', 'helvetica', 'arial', 'sans-serif'

$color-light-blue   = #789AE9
$color-blue         = #2C61DC
$color-dark-blue    = #09359B

$color-light-gray   = #eee //rgba(238,238,238,.98)
$color-gray         = #666
$color-dark-gray    = #23292F

$color-active-link  = #dee4f2