.Header
  height: 58px
  width: 100%
  display: flex
  background: rgba(255,255,255,.98)
  box-shadow: 0 1px 1px rgba(0,0,0,0.2)
  position: relative
  z-index: 999

  .LogoContainer
    align-self: center
    height: 30px
    margin-left: 40px
    margin-right: 20px

  #logo
    height: 100%
    max-width: 100%
    box-sizing: content-box
    transition: opacity .2s ease

    &:hover
      opacity: .6

  .HeaderLink
    font-family: $font
    font-size: 16px

    a
      display: block
      height: 58px
      line-height: 58px
      color: $color-gray
      padding: 0 20px
      text-decoration: none
      letter-spacing: 0.02em
      transition: color .2s ease

      &:hover
        color: $color-light-blue

    &:hover .subnav
      display: block

    &-account
      margin-left: auto
      margin-right: 20px
      padding: 0 10px

      .subnav
        right: 15px

    .subnav
      background: rgba(255,255,255,.98)
      box-shadow: 1px 1px 1px rgba(0,0,0,0.2)
      border-radius: 0 0 6px 6px
      padding: 0 0 10px 0
      margin-left: -5px
      position: absolute
      z-index: 1000
      width: 160px
      display: none

      &-item
        margin: 0
        width: 100%
        height: 30px

        &:hover
          background-color: rgba(0,0,0,.02)

        a
          padding: 5px 15px
          font-size: 13px
          line-height: 20px
          height: 20px