.Content-with-sidebar
  margin-left: 310px
  animation: fade-in .2s ease-in

  @keyframes fade-in {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }

  .ContentName
    height: 58px
    line-height: 58px
    font-family: $font
    font-size: 30px
    font-weight: 500
    letter-spacing: 0.02em
    margin: 6px 30px
    margin-left: 60px
    padding: 0 12px

    &-bottom-border
      margin: 0 60px
      margin-top: 12px
      border-bottom: 2px solid #ddd
      border-image: linear-gradient(to right, #ddd, rgba(221,221,221,0.6)) 1

  .List, .Section
    margin: 24px 30px
    margin-left: 60px

    &-name
      height: 58px
      line-height: 58px
      font-family: $font
      font-size: 16px
      font-weight: 500
      letter-spacing: 0.02em
      margin: 6px 0
      padding: 0 30px
      text-transform: uppercase

    &-item
      height: 58px
      line-height: 58px
      border-radius: 28px
      color: $color-gray
      font-family: $font
      font-size: 16px
      letter-spacing: 0.02em
      margin: 6px 0
      padding: 0 30px
      background: rgba(255,255,255,.98)
      box-shadow: 1px 1px 1px rgba(0,0,0,0.2)
      display: flex
      align-items: center
      cursor: pointer

      &:hover
        box-shadow: 1px 2px 6px #b5c5ea

  .EmptyList
    height 120px
    line-height: 120px
    text-align: center
    background: $color-light-gray
    color: $color-gray
    font-family: $font
    font-size: 16px
    letter-spacing: 0.02em