.Sidebar
  position: fixed
  float: left
  height: 90vh
  width: 280px
  margin: 0 0 30px 30px
  border-right: 2px solid #ddd
  border-image: linear-gradient(to bottom, #ddd, rgba(221,221,221,0.6)) 1

  #logo
    width: 140px
    margin-bottom: 24px
    margin-left: 22px
    transition: opacity .2s ease

    &:hover
      opacity: .6

  &-sub
      margin-top: 42px
      animation: fade-in .2s ease-in

      @keyframes fade-in {
        0% {
          opacity: 0
        }
        100% {
          opacity: 1
        }
      }

      li.SidebarLink.SidebarLink
        border-color: transparent

        &.is-active
          box-shadow: none
          background: transparent

          &:hover
            opacity: .8

  .SidebarLink
    border: 1px solid transparent
    font-family: $font
    font-size: 16px
    margin: 8px 0
    margin-right: 30px
    transition: background .2s ease
    transition: border-color .2s ease
    border-radius: 40px

    &:hover
      border-color: #ddd

    a
      display: block
      height: 48px
      line-height: 48px
      color: $color-gray
      padding: 0 30px
      text-decoration: none
      letter-spacing: 0.02em
      transition: color .2s ease

      &:hover
        color: $color-light-blue

    &-account
      position: absolute
      bottom: 0

    &.is-active
      border-color: transparent
      box-shadow: 0 1px 6px #b5c5ea
      background: rgba(255,255,255,.8)

      a
        color: $color-light-blue